tracker/nodered/example.json
[
    {
        "id": "03393b21c7f0b6da",
        "type": "tab",
        "label": "Tracker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22aa732dff5dd73e",
        "type": "aedes broker",
        "z": "03393b21c7f0b6da",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 220,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e956c7b6d40ef241",
        "type": "Axis camera",
        "z": "03393b21c7f0b6da",
        "name": "",
        "preset": "cf65323a3bcdac15",
        "action": "JPEG Image",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "441680c7233b443c"
            ]
        ]
    },
    {
        "id": "1ccd05fa57a79b33",
        "type": "inject",
        "z": "03393b21c7f0b6da",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "e956c7b6d40ef241"
            ]
        ]
    },
    {
        "id": "ab4dd8b25942a5b3",
        "type": "mqtt in",
        "z": "03393b21c7f0b6da",
        "name": "",
        "topic": "tracker",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f3ca4327ef757f5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "83f7375faf953963"
            ]
        ]
    },
    {
        "id": "daa2daa3.3b2fb8",
        "type": "ui_template",
        "z": "03393b21c7f0b6da",
        "group": "cf358000.c6341",
        "name": "Visualize",
        "order": 2,
        "width": "13",
        "height": "13",
        "format": "<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar ctx = null;\nvar imageWidth = 640;\nvar imageHeight = 360;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic ||  typeof msg.topic === undefined || !msg.payload )\n            return;\n        console.log(\"Debug\");\n        if( msg.topic === \"image\") {\n            $(\"#view_\" + scope.$id).css(\"width\",imageWidth + \"px\");\n            $(\"#view_\" + scope.$id).css(\"height\",imageHeight + \"px\");\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n            return;\n        }\n        if( msg.topic === \"trackers\" ) {\n            var canvas = document.getElementById(\"canvas_\"+scope.$id);\n            var ctx = canvas.getContext(\"2d\");\n            ctx.beginPath();\n            ctx.clearRect(0, 0, 1000, 1000 );\n            ctx.stroke();\n\n            ctx.beginPath();\n            ctx.lineWidth = 3;\n            ctx.strokeStyle = '#FFFFFF';\n            trackers = msg.payload;\n            for( var id in trackers ) {\n                ctx.rect(trackers[id].x,trackers[id].y,trackers[id].w,trackers[id].h);\n                ctx.moveTo(trackers[id].bx,trackers[id].by);\n                ctx.moveTo(trackers[id].bx,trackers[id].by);\n                ctx.lineTo(trackers[id].cx,trackers[id].cy);\n            }\n            ctx.stroke();\n        }\n    });\n})(scope);\n</script>        \n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "441680c7233b443c",
        "type": "change",
        "z": "03393b21c7f0b6da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "image",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "daa2daa3.3b2fb8"
            ]
        ]
    },
    {
        "id": "85d83b199e3e7040",
        "type": "debug",
        "z": "03393b21c7f0b6da",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "83f7375faf953963",
        "type": "function",
        "z": "03393b21c7f0b6da",
        "name": "Trackers",
        "func": "var trackers = flow.get(\"trackers\") || {};\n\nif( msg.payload.active === false )\n    delete trackers[msg.payload.id];\nelse\n    trackers[msg.payload.id] = msg.payload;\n\nflow.set(\"trackers\",trackers);\n\nmsg.topic = \"trackers\";\nmsg.payload = trackers;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "85d83b199e3e7040",
                "daa2daa3.3b2fb8"
            ]
        ]
    },
    {
        "id": "cf65323a3bcdac15",
        "type": "Device Access",
        "name": "Test Camera",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "1f3ca4327ef757f5",
        "type": "mqtt-broker",
        "name": "Some Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cf358000.c6341",
        "type": "ui_group",
        "name": "View",
        "tab": "765edfe7b77b99a3",
        "order": 2,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "765edfe7b77b99a3",
        "type": "ui_tab",
        "name": "Motion Data",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]